<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="ScanFilesPattern" value="*.*"/>
    <add key="ScanFilesLimit" value="-1"/>
    <add key="IgnoreFolders" value="$Recycle.Bin;System Volume Information"/>
    <add key="IgnoreFiles" value="hiberfil.sys;pagefile.sys;swapfile.sys"/>
    <add key="AutoClose" value="false"/>
    <add key="AutoCloseDelay" value="10"/>
    <add key="MenuIconSize" value="0"/>
  </appSettings>

  <log4net>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="${APPDATA}\ZoneIDTrimmer\Logs\ZoneIDTrimmer.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>

      <maxSizeRollBackups value="9"/>
      <maximumFileSize value="1000KB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>

      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %-5p - %m%n"/>
      </layout>
    </appender>

    <root>
      <priority value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>

  </log4net>
</configuration>
