<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WindowStyle" value="Normal"/>
    <add key="WaitInterval" value="100"/>
    <add key="DialogRetries" value="10"/>
    <add key="NumberRetries" value="5"/>
    <add key="TitleRetries" value="3"/>
  </appSettings>
</configuration>