<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<appSettings>
		<add key="LightSize" value="X64"/>
		<add key="DeviceNumber" value="0"/>
		<add key="AlwaysOnTop" value="True"/>
		<add key="Orientation" value="Horizontal"/>
		<add key="Enabled" value="True"/>
		<add key="WindowLeft" value="0"/>
		<add key="WindowTop" value="0"/>
		<add key="NoiseLevel" value="0.0001"/>
	</appSettings>

	<log4net>

		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<file value="${APPDATA}\DiscoLights\Logs\DiscoLights.log" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<appendToFile value="true" />

			<maxSizeRollBackups value="9" />
			<maximumFileSize value="100KB" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="%d %-5p - %m%n" />
			</layout>
		</appender>

		<root>
			<priority value="INFO" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>

	</log4net>
</configuration>