<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	<appSettings>
		<add key="CruiseSpeed" value="220"/>
		<add key="SpeedDelta" value="20"/>
		<add key="TurnStep" value="10"/>
		<add key="Camera" value="USB2.0 Camera"/>
		<add key="Capture" value="false"/>
	</appSettings>
</configuration>
